<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupes</title>
    <link rel="stylesheet" href="/style/index_style.css">
</head>

<body>
    <div class="entete">

    </div>

    <h1>Vos groupes</h1>

    <br>
    <div class="buttondiv">
        <button id="creerGroupBtn">Créer un groupe</button>
    </div>
    <br>
    
    <div class="container">
        {{#each groupsOfuser}}
        <div class="Groupes">
            <div class="titre">
                <h3>{{this}}</h3>
            </div>
            {{!-- <div class="description"> C'est le groupe 1</div> --}}
            <br>
            <button onclick="window.location.href = 'groups/{{this}}';">Accéder à la page</button>
        </div>
        {{/each}}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.entete').load('/entete.html');
            });
        </script>
    </div>
    <div class="modal" id="groupModal">
        <div class="modal-content">
            <!-- Contenu de la fenêtre modale pour créer un ticket -->
            <span class="close" id="closeModal">&times;</span>
            <h2>Ajouter un utilisateur</h2>
            <br>
            <form action="/addGroup" method="post" class="formulaire">
                Nom du groupe :<br>
                <input type="text" name="groupName" placeholder="MonGroupe" class="titre_pop" required><br><br>
                <input type="submit" value="ajouter" id="validButton">
            </form>
        </div>
    </div>
    <script>// Récupérer les références aux éléments HTML
        const creerGroupBtn = document.getElementById('creerGroupBtn');
        const groupModal = document.getElementById('groupModal');
        const closeModal = document.getElementById('closeModal');


        // Événement click sur le bouton "Créer un groupe"
        creerGroupBtn.addEventListener('click', function () {
            groupModal.style.display = 'block';
        });

        // Événement click sur le bouton de fermeture de la fenêtre modale
        closeModal.addEventListener('click', function () {
            groupModal.style.display = 'none';

        });

        // Événement pour fermer la fenêtre modale en cliquant en dehors de celle-ci
        window.addEventListener('click', function (event) {
            if (event.target == groupModal) {
                groupModal.style.display = 'none';
            }
        });

    </script>

</body>

</html>