<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupes</title>
    <link rel="stylesheet" href="/style/index_style.css">
</head>
<body>
    <div class="entete">
        
    </div>

    <h1>Vos groupes</h1>

    <div class="container">
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 1</h3></div>
        <div class="description"> C'est le groupe 1</div>
        <br>
        <button onclick="window.location.href = 'register.html';" >Rappel Groupe 1</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 2</h3></div>
        <div class="description"> C'est le groupe 2</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 2</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 3</h3></div>
        <div class="description"> C'est le groupe 3</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 3</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 4</h3></div>
        <div class="description"> C'est le groupe 4</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 4</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 5</h3></div>
        <div class="description"> C'est le groupe 5</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 5</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 6</h3></div>
        <div class="description"> C'est le groupe 6</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 6</button>
    </div>
    <div class="Groupes"> 
        <div class="titre"><h3>Groupe 7</h3></div>
        <div class="description"> C'est le groupe 7</div>
        <br>
        <button onclick="window.location.href = 'register.html';">Rappel Groupe 7</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.entete').load('entete.html');
        });
    </script>
</div>

</body>
</html>