body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Nouvelle ligne pour aligner les éléments verticalement */
    align-items: center;
}
.entete {
    width: 100%; /* Pour occuper toute la largeur */
}