<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remindr : Inscription</title>
    <link rel="stylesheet" href="/style/style_connexion.css">
</head>
<body>
    
    <div class="connexion">
        
        <h1 class="title">Register</h1>
        <form action="/register" method="post" class="formulaire">
            <button onclick="window.location.href = '/';"> Connexion</button>
            <br><br>
            Pseudo:<br>
            <input type="text" name="pseudo" placeholder="Pseudo" class="form-elem" required><br><br>
            Email:<br>
            <input type="email" name="email" placeholder="Email" class="form-elem" required><br><br>
            Password:<br>
            <input type="password" name="password" placeholder="Password" class="form-elem" required><br><br>
            Confirm Password:<br>
            <input type="password" name="password2" placeholder="Confirm Password" class="form-elem" required><br><br>
        <input type="submit" value="Register" class="valid">
        </form>
    </div>
</body>
</html>